@model WebApplication16.Models.Listing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyOwner.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyOwner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainImageUrl)
        </dt>

        <dd>
            <img style="max-width: 100%" src="@Model.MainImageUrl"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
